.btn {
  display: inline-block;
  height: 1.8rem;
  padding: .25rem .4rem;
  line-height: 1.3rem;
  vertical-align: middle;

  background: var(--primary-color);
  color: var(--primary-color-fg);
  border: 1px solid transparent;
  border-radius: 4px;

  appearance: none;
  user-select: none;

  cursor: pointer;
  font-size: .8rem;
  font-family: inherit;
  outline: none;
  white-space: nowrap;

  &:hover {
    background-color: var(--primary-color-dark);
  }

  &:focus {
    background-color: var(--primary-color-dark);
    box-shadow: var(--control-focus-shadow);
  }
}
