.form-checkbox {
  appearance: none;

  width: 19px;
  height: 19px;
  margin: 0;

  border-radius: 4px;
  border: 1px solid var(--control-border-color);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  transition: .2s border-width;

  outline: none;
  cursor: pointer;

  &:focus {
    border-color: var(--control-focus-border-color);
    box-shadow: var(--control-focus-shadow);
  }

  &:checked {
    border: 7px solid var(--primary-color-light);
  }
}
