.dialog {
  max-height: 80vh;
  overflow: auto;

  top: 10%;
  margin: 10px auto;
  padding: 50px 60px 40px;

  text-align: center;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.75);
  border: 3px solid var(--primary-color-light);
  border-radius: 8px;
  box-shadow: inset 0 0 20px 0 color-mod(var(--primary-color) alpha(50%));
}

.dialog__footer {
  margin-top: 2rem;
}
