.form-range {
  -webkit-appearance: none;
  margin: 0;
  outline: none;
  background: none;

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;

    background-color: color-mod(var(--primary-color) alpha(50%));
    border-radius: 3px;
    cursor: pointer;
  }

  &:focus::-webkit-slider-runnable-track {
    background-color: var(--primary-color-light);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -14px;
    height: 36px;
    width: 16px;

    background-color: #fff;
    border: 1px solid var(--control-border-color);
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  }

  &:focus::-webkit-slider-thumb {
    border-color: var(--control-focus-border-color);
    box-shadow: var(--control-focus-shadow);
  }
}
