@import 'base';
@import 'typography';
@import 'components/button';
@import 'components/checkbox';
@import 'components/input-range';
@import 'components/dialog';

:root {
  --primary-color: #5acbff;
  --primary-color-light: #81d4fa;
  --primary-color-dark: #29bbfd;
  --primary-color-fg: #fff;

  --control-focus-shadow: 0px 0px 0 2px rgba(129, 212, 250, .3);
  --control-border-color: #ccc;
  --control-focus-border-color: var(--primary-color-light);
}

.field-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  overflow: hidden;
}

.field {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  user-select: none;
  background-color: #fdfdfd;
}

.square {
  position: absolute;
  will-change: transform;
  pointer-events: none;
}

.square__content {
  height: 100%;
  width: 100%;

  background-color: #b3e5fc;
  border: 2px solid #81d4fa;
  border-radius: 6px;
}

.square--new {
  & > .square__content {
    animation-name: new-square;
    animation-fill-mode: forwards;
    animation-duration: .2s;
    animation-timing-function: cubic-bezier(1, -0.72, 0.25, 2.4);
  }
}

.square--hide {
  & > .square__content {
    animation-name: hide-square;
    animation-fill-mode: forwards;
    animation-duration: .1s;
    animation-timing-function: linear;
  }
}

.square--winner {
  & > .square__content {
    animation-name: square-winner;
    animation-fill-mode: forwards;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(0.79, -0.32, 0.18, 1.2);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -22%;
      right: 15%;

      background-image: url(../images/deal-with-it.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 0 30%;
    }
  }
}

.start-dialog {
}

.gameover-dialog {
}

.gameover-dialog__statistics {
  margin: 0;
  padding: 0 40px;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  & > dt {
    clear: left;
    float: left;
    width: 80%;
    margin: 0;
    padding: 4px 0;

    text-align: left;
    color: #616161;
  }

  & > dd {
    float: left;
    width: 20%;
    margin: 0;
    padding: 4px 0;

    text-align: center;
  }
}

.start-dialog__option {
  display: block;
  text-align: initial;

  & > label {
    display: inline-block;
    width: 300px;
    margin-right: 1rem;
    vertical-align: middle;

    text-align: initial;
    color: #616161;
  }

  & > input[type=range],
  & > input[type=checkbox] {
    vertical-align: middle;
    position: relative;

    font-family: inherit;
    color: inherit;
    font-size: 12px;
  }

  & > output {
    display: inline-block;
    min-width: 2.5em;
    vertical-align: middle;
  }

  & + .start-dialog__option {
    margin-top: 1rem;
  }
}

.dialog__primary-button {
  min-width: 120px;

  &:not(:hover):not(:focus) {
    animation-name: dialog-primary-btn-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  }
}

@keyframes dialog-primary-btn-animation {
  0% { background-color: #5acbff; }
  100% { background-color: #29bbfd; }
}

@keyframes new-square {
  0% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes hide-square {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}

@keyframes square-winner {
  100% {
    transform: scale(3);
    background-color: #aed581;
    border-color: #8bc34a;
    border-width: 0;
    border-radius: 4px;
  }
}
